@import "sql-table.css";

:root {
  --main-color: #3226f3;
}

@font-face {
  font-family: "Space Grotesk Bold";
  src: url(/public/fonts/SpaceGrotesk-Bold.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Space Grotesk";
  src: url(/public/fonts/SpaceGrotesk.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url(/public/fonts/PublicSans-Medium.woff2);
  font-display: swap;
}

body {
  font-family: "Public Sans";
  font-size: 16px;
}

p {
  margin-top: 0;
  line-height: 1.5em;
}

a {
  text-decoration: none;
  color: var(--main-color);
  position: relative;
}

a:hover {
  text-decoration: underline dashed #bd0707;
}

.header ul {
  padding: 0;
  display: flex;
  justify-content: end;
}

.header li {
  list-style: none;
  margin-right: 1em;
}

.draft-banner {
  background-color: red;
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.cover-container {
  max-width: 768px;
  margin: 0 auto;
  position: relative;
  margin-top: 100px;
}

.title {
  font-family: "Space Grotesk Bold";
  font-size: 48px;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 100;
  position: relative;
  display: inline-block;
}

.title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--main-color);
  left: 1px;
  bottom: 0px;
  z-index: -1;
}

.cover-title {
  font-family: "Space Grotesk Bold";
  font-size: 48px;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 100;
  position: relative;
  display: inline-block;
}

.cover-title span {
  position: relative;
}

.cover-title span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--main-color);
  left: 1px;
  bottom: 6px;
  z-index: -1;
}

.cover-img {
  position: absolute;
  left: 0;
  transform: translateX(-120%);
  height: 100%;
}

@keyframes marquee {
  0% {
    right: -100%;
  }
  100% {
    right: 100%;
  }
}

.in-construction-marquee {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: black;
  font-size: 32px;
  padding: 0 0.25em;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  height: 1em;
}

.in-construction-marquee span {
  color: yellow;
  font-weight: bold;
  animation: marquee 5s linear infinite;
  position: absolute;
  width: 75%;
  float: left;
}

.content {
  margin-top: 100px;
}

.content .publish-date {
  display: block;
}

.content h1 {
  font-family: "Space Grotesk Bold";
  font-size: 48px;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 100;
  position: relative;
  display: inline-block;
}

.content h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: var(--main-color);
  left: 1px;
  bottom: 0px;
  z-index: -1;
}

.content h2,
.content h3,
.content h4 {
  font-family: "Space Grotesk";
  margin-top: 0;
}

.content p {
  margin-top: 0;
}

.todo-tooltip-target {
  position: relative;
  background-color: #fee9ae;
}

.todo-tooltip-target:hover {
  background-color: #fcc934;
}

.todo-tooltip {
  opacity: 0;
  transition: 1;
  position: absolute;
  width: 200px;
  background-color: #ffffff;
  top: 10px;
  left: 50%;
  padding: 0.75rem;
  transform: translate(-50%, calc(-100% - 10px));
  box-shadow: 1px 1px 13px -5px #7a7474;
  border-radius: 3px;
}

.todo-tooltip::before {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #999999;
  top: calc(100% + 1px);
  left: 50%;
  transform: translateX(-50%);
}

.todo-tooltip::after {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.todo-tooltip-target:hover .todo-tooltip {
  opacity: 1;
  transition: all 0.25s;
  top: 0;
}
