---
layout: base.njk
title: Marcos Lehmkuhl Website
---
<main class="cover-container">
  <img class="cover-img" src="/public/face.png" alt="illustration of my face"></img>
  <header>
    <h1 class="cover-title"><span>Hello World,</span> <br/><span>I'm Marcos Lehmkuhl</span></h1>
  </header>
  <p>This is my personal website where I write about things that I’m interested in, mostly software engineering and design but it could be anything really</p>
  <p>You can also find me on <a href="https://www.linkedin.com/in/marcoslehmkuhl/">Linkedin</a> or <a href="https://github.com/marcosvlehmkuhl">Github</a></p>
</main>
<section class="cover-container">
  <h2 class="title">Blog Posts</h2>
  <p class="in-construction-marquee"><span>In Construction</span></p>
</section>