---
layout: base.njk
---
<ul>
  {%- for item in collections.posts -%}
    <li>
      {% if item.data.status == "draft" %}
        <div class="draft-banner">
          This is a draft
        </div>
      {% endif %}
      <a href={{item.data.page.url}}>
        {{item.data.date | formatDate}} {{ item.data.title }}
      </a>
    </li>
  {%- endfor -%}
</ul>