<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Software Engineer, Designer since 2015. I can code in Golang, Javascript, PHP. I used to be a football player, then I took an arrow in the knee.">
    <link rel="stylesheet" type="text/css" href="{{ '/css/global.css' | url }}" />
    {% if css %}
      <link rel="stylesheet" type="text/css" href={{'/css/'+css | url }} />
    {% endif %}

  </head>
  <body>
    <header class="header container">
      <nav>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/changelog">changelog</a></li>
        </ul>
      </nav>  
    </header>

     {{ content | safe }}

  </body>
</html>