<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ '/css/global.css' | url }}" />
  </head>
  <body>
    <header>
      <div>[WIP]</div>
      <nav>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/changelog">changelog</a></li>
        </ul>
      </nav>  
    </header>

     {{ content | safe }}

  </body>
</html>