---
menu:
  - name: home
    url: "/"
  - name: changelog
    url: "/changelog"
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="Software Engineer, Designer since 2015. I can code in Golang, Javascript, PHP. I used to be a football player, then I took an arrow in the knee.">
    <link rel="stylesheet" type="text/css" href="{{ '/css/global.css' | url }}" />
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    {% if css %}
      <link rel="stylesheet" type="text/css" href={{'/css/'+css | url }} />
    {% endif %}

    <script defer data-domain="marcos.lehmkuhl.dev" src="https://plausible.io/js/script.js"></script>
  </head>
  <body>
    <header class="header container">
      <nav>
        <ul>
          {% for item in menu %}
            <li><a href={{item.url}}>{{item.name}}</a></li>
          {% endfor %}
        </ul>
      </nav>  
    </header>

     {{ content | safe }}

  </body>
</html>